<!--<%#= form_for(@post, html: {multipart: true}) do |f| %>-->
<!--<%#= f.label :image, 'IMAGE' %><br>-->
<!--<%#= f.file_field :image %>-->
<!--<%#= f.hidden_field :image_cache %>-->
<!--<%# end %>-->

<%= form_for(@post) do |f| %>

  <div class="form-group">
    <%= f.label :title, 'TITLE' %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :content, 'CONTENT' %>
    <%= f.text_field :content %>
  </div>
  
  <%= f.label :image, 'IMAGE' %><br>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>

  <%= f.submit '投稿' %>
<% end %>